In [1]:

import pandas as pd
import requests

from keys import Trip_advisor_key

In [2]:
#Import restaurants.csv
Restaurants_df = pd.read_csv('output_data/restaurants.csv')

In [3]:
#Drill for reviews 

#New df Reviews
Reviews_df = pd.DataFrame(columns=['Location','Restaurant Name','Lat','Lng','Review'])

#Looooppping!!! Again. Yes.
for index, restaurant in Restaurants_df.iterrows():
    
    url = f"https://api.content.tripadvisor.com/api/v1/location/{restaurant['Location ID']}/reviews?key={Trip_advisor_key}&language=en"
    
    headers = {"accept": "application/json"}
    
    response = requests.get(url, headers=headers).json()
    
    #Let's try this!!!
    try:
        
        for res in response['data']: 
            
            new_row = {'Location' : restaurant['Location'],
                       'Restaurant Name' : restaurant['Restaurant Name'],
                       'Lat': restaurant['Lat'],
                       'Lng': restaurant['Lng'],
                       'Review' : res['rating']}
            Reviews_df.loc[len(Reviews_df)] = new_row
    
    except(KeyError, IndexError):
            print('Error.')

In [4]:
#Show the dataset
Reviews_df.head()

                      Location   Restaurant Name        Lat       Lng  Review
0  Toronto Distillery District  Archeo Trattoria  43.650682 -79.35963       2
1  Toronto Distillery District  Archeo Trattoria  43.650682 -79.35963       3
2  Toronto Distillery District  Archeo Trattoria  43.650682 -79.35963       1
3  Toronto Distillery District  Archeo Trattoria  43.650682 -79.35963       5
4  Toronto Distillery District  Archeo Trattoria  43.650682 -79.35963       5

In [5]:
#Dataframe to csv
Reviews_df.to_csv("output_data/Reviews.csv", index = False)